<% content_for :title, "New tag" %>

<h1>New tag</h1>

<%= form_with(model: @tag) do |form| %>
  <% if @tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% @tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Back to tags", tags_path %>
</div>
