<div id="<%= dom_id post %>" class="post">
  <p>
    <strong>Title:</strong>
    <%= link_to post.title, post_path(post) %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user&.name %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "tag-link" %>
    <% end %>
  </p>

</div>
