<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
    <p>
      <%= link_to "Show this post", post_path(post) %>
    </p>
  <% end %>
</div>

<%= link_to "New long post", new_long_post_path %>
<%= link_to "New short post", new_short_post_path %>
